<?xml version="1.0"?>
<config>
	<text_editor>notepad.exe</text_editor>
	<!--  
	Supported shader types:
	  · postprocessing
	  · default3d
	-->
	<shader_type>postprocessing</shader_type>
	<default_shaders>
		<postprocessing name="default_postprocessing">default_postprocessing.glsl</postprocessing>
		<default3d name="default_3d">default_3d.glsl</default3d>
	</default_shaders>
	<Layout>
		<Screen name="ShaderTool" width="960" height="600" fullscreen="true">
			<layout type="BoxLayout">
				<params Orientation="Horizontal" Alignment="Minimum" margin="0" spacing="6" />
			</layout>
		<Widget>
			<layout type="GroupLayout" />
			<Button name="Preview">
				<width value="512" />
				<callback value="prevButton" />
			</Button>
		</Widget>
		</Screen>
	</Layout>
</config>