<?xml version="1.0"?>
<config>
	<text_editor>notepad.exe</text_editor>
	<!-- <text_editor>C:\Program Files\Sublime Text 3\sublime_text.exe</text_editor> -->
	<!--  
	Supported shader types:
	  · postprocessing - yes
	  · default3d      - no, wip
	-->
	<shader_type>postprocessing</shader_type>
	<default_shaders>
		<postprocessing name="default_postprocessing">default_postprocessing.glsl</postprocessing>
		<default3d name="default_3d">default_3d.glsl</default3d>
	</default_shaders>
</config>